header.navbar
    section.navbar-section
        a.navbar-brand.mr-2(href='/') Mes super Books
        a.btn.btn-link(href='/book') All my books
        a.btn.btn-link(href='/book/new') Ajouter
    section.navbar-section
        .input-group.input-inline
            input.form-input(type='text', placeholder='search')
            button.btn.btn-primary.input-group-btn Search