extends layout
block content
    include includes/_header
    h4 TOUS MES LIVRES
    each book in books
        //-TODO better UI
        .container.grid-md
            .card
                   .card-header
                       a.card-title.h5(href=`/book/${book.id}`)=book.title
                   .card-body
                       .card-subtitle.text-gray=book.author
                       .card-subtitle.text-gray=book.year
                       .card-subtitle.text-gray=book.pages
                       a.btn.btn-primary(href=`/book/${book.id}/edit`) Edit
                       a.btn(href=`/book/${book.id}/delete`) Supprimer



